### Task 1

In [3]:
# Creating a function named operations that takes 2 inputs from the user
def operations(x,y):
    # Adding the two inputs
    print(f'Upon adding the two inputs we get the value to be {x+y}')
    # Substracting the two inputs
    print(f'Upon substracting the two inputs we get the value to be {x-y}')
    # Multiplying the two inputs
    print(f'Upon multiplying the two inputs we get the value to be {x*y}')
    # Dividing the two inputs
    print(f'Upon Dividing the two inputs we get the value to be {x/y}')
    # Modulus the two inputs
    print(f'Upon adding the two inputs we get the value to be {x%y}')
    # Exponation the two inputs
    print(f'Upon exponation the two inputs we get the value to be {x**y}')



# Printing results
operations(5,6)

Upon adding the two inputs we get the value to be 11
Upon substracting the two inputs we get the value to be -1
Upon multiplying the two inputs we get the value to be 30
Upon Dividing the two inputs we get the value to be 0.8333333333333334
Upon adding the two inputs we get the value to be 5
Upon exponation the two inputs we get the value to be 15625

### Task 2

In [27]:
import random
# Setting the seed for reproducibility
random.seed(42)
# Creating a list of 10 random numbers
a = [random.randint(1,100) for _ in range(10)]
# The length of the list
print(f'The length of the list {len(a)}')
# The minimum and maximum element in the list
print(f'The minimum element in the list: {min(a)} and the maximum element in the list is {max(a)}')
# Removing one element from the list
print(f'The list before removing one element: {a}')
a.pop(6)
print(f'List after removing one element {a}')
# Adding one element to the list
a.insert(5,78)
print(f'List after adding one element {a}')
# Getting the list in ascending order
a.sort()
print(f'The list in ascending order {a}')
# Getting the list in descending order
a.sort(reverse=True)
print(f'The list in descending order {a}')

The length of the list 10
The minimum element in the list: 4 and the maximum element in the list is 95
The list before removing one element: [82, 15, 4, 95, 36, 32, 29, 18, 95, 14]
List after removing one element [82, 15, 4, 95, 36, 32, 18, 95, 14]
List after adding one element [82, 15, 4, 95, 36, 78, 32, 18, 95, 14]
The list in ascending order [4, 14, 15, 18, 32, 36, 78, 82, 95, 95]
The list in descending order [95, 95, 82, 78, 36, 32, 18, 15, 14, 4]

### Task 3

In [39]:
# Creating the dictionary
student = {'name':'Jagamohan','age':22,'course':'Data Science','marks':89}
# Printing the key value pair
for k,v in student.items():
    print(f'key:{k} ---->>> value:{v}')

# Adding a new key
student['grade'] = 'A'
print(f'The new dict: {student}')

# Creating the set of unique courses
unique_courses = {'Python','Data Science','AI','Python'}
print(f'The unique courses set: {unique_courses}')

# Performing union, intersection and difference b/w 2 sets
set_A = {'Python','ML','AI'}
set_B = {'Data Science','Web Development','Python'}
print(f'Set A intersection Set B: {set_A.intersection(set_B)}')
print(f'Set A Union Set B: {set_A.union(set_B)}')
print(f'Set A difference Set B: {set_A.difference(set_B)}')

key:name ---->>> value:Jagamohan
key:age ---->>> value:22
key:course ---->>> value:Data Science
key:marks ---->>> value:89
The new dict: {'name': 'Jagamohan', 'age': 22, 'course': 'Data Science', 'marks': 89, 'grade': 'A'}
The unique courses set: {'AI', 'Data Science', 'Python'}
Set A intersection Set B: {'Python'}
Set A Union Set B: {'Web Development', 'ML', 'Python', 'AI', 'Data Science'}
Set A difference Set B: {'AI', 'ML'}

### Task 4

In [32]:
# Creating a file named student_data.txt and storing info of atleast 5 students
with open('student_data.txt','w') as f:
    f.write('Ravi, Data science, 92\n')
    f.write('Rahul, Computer Science, 56\n')
    f.write('smruti, AI, 89\n')
    f.write('Laksh, Physics, 36\n')
    f.write('Meera, Maths, 98\n')

# Reading the info of the students with marks>=75
print('Student with mark above 75')
with open('student_data.txt','r') as f:
    for x in f:
        name,course,mark = x.split(',')
        if int(mark) >= 75:
            print(f'name : {name}, course: {course}, marks: {mark}')

Student with mark above 75
name : Ravi, course:  Data science, marks:  92

name : smruti, course:  AI, marks:  89

name : Meera, course:  Maths, marks:  98